@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 18px;}
body{font-family: 'Noto Sans KR', sans-serif;}
ul,ol,li{list-style-type: none;}
a{color: inherit; text-decoration: none;}
#wrap{width: 100%;}
.inner{width: 1240px; margin: 0 auto;}

/*********************************************/
/****** header ******/
header{
    width: 100%;
    height: 130px;
    background-color: rgba(0,0,0,0.2);
    padding-top: 40px;
    position: fixed;
    top: 0;
    z-index: 999;
}
header .inner{
    width: 1440px;
    margin: 0 auto;
}
header #logo{
    float: left;
}
header nav{
    float: left;
    padding-left: 60px;
}
header nav ul li{
    float: left;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 60px;
    margin-top: 10px;
}
header #top_icon{
    float: right;
    padding-top: 10px;
}
header #top_icon a{
    margin-left: 19px;
}
header #top_icon a:last-child{
    display: inline-block;
    background-color: #39B349;
    width: 140px;
    height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -7px;
}

/****** section01 ******/
#sec01{
    background-image: url(../img/main_img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 800px;
    cursor: pointer;
    min-width: 1240px;
}

/****** section02 ******/
#sec02 ul{
    width: 1240px;
    height: 180px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: relative;
    top: -90px; /******** margin-top -90으로 줘도 됨 *******/
    padding: 35px 35px 0 45px;
}
#sec02 ul li{
    float: left;
    width:calc(100% / 3);
    height: 110px;
    padding-left: 140px;
}
#sec02 ul li.icon1/**first,nth,last로도 사용가능**/{
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
}
#sec02 ul li.icon2{
    background-image: url(../img/icon2.png);
    background-repeat: no-repeat;

}
#sec02 ul li.icon3{
    background-image: url(../img/icon3.png);
    background-repeat: no-repeat;

}
#sec02 ul li a:last-child::after{
    content: url(../img/arrow_right1.png);
    padding-left: 10px;
    vertical-align: middle;
    /***position relative , top 1px로도 배치가능***/
}
#sec02 h3{
    font-size: 1.5rem;
    padding-bottom: 5px;
}
#sec02 p{
    color: #b1b1b1;
    font-size: 0.9rem;
    padding-bottom: 10px;
}

/****** section03 ******/
#sec03{
    clear: both;
    padding-top: 60px;
    width: 100%;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
h2::after{
    content: url(../img/logo_simbol.png);
    margin-left: 10px;
}
#sec03 h3{
    color: #39B349;
    font-size: 1rem;
    font-weight: 400;
    padding: 35px 0 5px 0;
}
#sec03 p{
    font-size: 1.3rem;
    font-weight: 500;
}
#sec03 ul{
    margin: 0 auto;
    height: 400px;
}
#sec03 ul li{
    float: left;
    width: 265px;
    margin-right: 60px;
}
#sec03 ul li:last-child{
    margin-right: 0;
}
#sec03 ul li a{
    display: block;
}
/****** 추가 ******/
#sec03 ul li:hover img{
    transform: scale(1.1,1.1);
    border-bottom-right-radius: 40px;
    box-shadow: 0px 30px 40px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
/****** 추가 끝 ******/

/****** section04 ******/
#sec04{
    clear: both;
    height: 450px;
    background-image: url(../img/benner1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 150px;
    color: #fff;
}
#sec04 h3{  
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 80px;
}
#sec04 p{
    font-weight: 300;
    padding: 20px 0 40px;
}
#sec04 a{
    background-color: #fff;
    color: #000;
    text-align: center;
    display: block;
    width: 255px;
    height: 60px;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-weight: 500;
}

/****** section05 ******/
#sec05{
    margin-top: 150px;
}
#sec05 ul{
    height: 400px;
}
#sec05 ul li{
    float: left;
    width: 400px;
    margin-right: 20px;
    position: relative;
}
#sec05 ul li:last-child{
    margin-right: 0;
}
#sec05 ul li a{
    display: block;
}
#sec05 h3{
    color: #fff;
    text-align: center;
    position: relative;
    top: -50px;
    font-size: 1rem;
    font-weight: 700;
}

/****** 추가 ******/
#sec05 .heart{
    background-color: #39B349;
    background-image: url(../img/ic_heart6.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    border-radius:50%;
    color: #fff;
    text-align: center;
    width: 130px;
    height: 130px;
    padding-top: 85px;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    opacity: 0;
}
#sec05 ul li:hover .heart{
    opacity: 1;
    bottom: -90px;
    transition: 1s;
}
#sec05 ul li:hover img{
    transform: scale(130%,130%);
    box-shadow: 0 30px 40px rgba(0,0,0,0.2);
    transition: 1s;
}
#sec05 ul li:hover h3{
    transform: translateY(-170px);
    transition: 1s;
}
#sec05 ul li:hover{z-index: 99;}
/****** 추가 끝******/

/****** section06 ******/
#sec06{
    clear: both;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 100px;
}
#sec06 ul li{
    float: left;
    width: 50%;
    height: 100px;
    position: relative;
}
#sec06 ul li::after{ /** ul li a background image로도 적용가능함 위치 이동은 calc 함수를 사용해서 100% - 60px 만큼을 빼서 위치 이동가능**/
    content: url(../img/arrow_right2.png);
    vertical-align: middle;
    float: right;
    padding-top: 40px;
    padding-right: 50px;
}

#sec06 ul li:first-child{
    background-image: url(../img/img4.jpg);
    background-repeat: no-repeat;
}
#sec06 ul li:last-child{
    background-image:  url(../img/img5.jpg);
    background-repeat: no-repeat;
}
#sec06 a{
    margin-left: 60px;
    line-height: 100px;/** padding-top말고도 line height로도 적용가능함 **/
}
/****** 추가 ******/
#sec06 ul li a::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #39B349;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#sec06 ul li span{
    position: absolute;
    top: 0;
    padding-left: 70px;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    opacity: 0;
}
#sec06 ul li:hover a::before{
    opacity: 0.8;
    transition: 0.5s;
}
#sec06 ul li:hover span{
    opacity: 1;
    transition: 0.5s;
}
/****** 추가 끝******/
/****** footer ******/
footer{
    clear: both;
    height: 400px;
    background-color: #333;
    color: #777;
    font-weight: 400;
    font-size: 0.9rem;
}
footer ul li{
    float: left;
    margin-right: 20px;
    padding-top: 60px ;
}
footer ul li span{
    color: #39B349;
}
footer .ft_family{
    padding-top: 50px;
    float: right;
}
footer select{
    width: 200px;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #333;
    border: #777 1px solid;
    color: #aaa;
    appearance:none ; /******** select 박스 화살표 없애기 *******/
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 170px;
    margin-left: 2px;
    position: relative;
    bottom: -2px;
}
footer #top{
    height: 120px;
    border-bottom: 1px solid #777;
}
footer p{
    padding-top: 35px;
    font-size: 0.9rem;
    line-height: 1.6;
}
footer #bottom{
    clear: both;
}
footer #bottom a{
    width: 200px;
    height: 40px;
    float: right;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    color: #aaa;
    background-color: #333;
    border: #777 1px solid;
    position: relative;
    top: -130px;
}

/****** quick menu ******/
.support{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #39B349;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-image: url(../img/ic_heart6.png);
    background-repeat: no-repeat;
    background-position: center 20px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    padding-top: 85px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}